header {
    background-color: darkslategrey;
    color: goldenrod;
    text-align: center;
}

main {
    background-color: lightgray;
    padding: 1em;
}

body {
    background-image: 
        url("record.png");
    background-repeat: repeat;
    margin: 0;
}