header {
    background-color: darkslategrey;
    color: goldenrod;
    text-align: center;
}

main {
    background-color: lightgray;
    background-image: 
        url("record.png");
    background-repeat: repeat;
}